@import 'src/app/scss/mixins';
@import 'src/app/scss/vars';

.footer {
  background-color: $silver-100;
}

.footer-top {
  display: flex;
  padding-bottom: 53px;
  gap: 70px;
  @include mq('desktop') {
    gap: 60px;
  }
  @include mq('tablet-2') {
    gap: 50px;
    flex-wrap: wrap;
  }
  @include mq('tablet') {
    gap: 40px;
  }
  @include mq('phone') {
    gap: 30px;
    padding-bottom: 19px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, 40px); //тут не разобрался как вставить произвольное количество строк, если знаешь, расскажи на ревью
    grid-auto-flow: column;
    grid-column-gap: 74px;

    @include mq('tablet-2') {
      order: 1;
      flex-basis: 100%;
      grid-auto-rows: 40px;
      justify-content: start;
      grid-column-gap: 30px;
    }
    @include mq('tablet') {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(6, 40px);
      grid-column-gap: 100px;
    }
    @include mq('phone') {
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(12, 43px);
    }
  }

  &__item {
    @include mq('phone') {
      flex-basis: 100%;
    }
  }

  &__link {
    display: block;
  }

  &__link {
    width: max-content;
  }
}

.footer-bottom {
  border-top: 1px solid $silver-200;
  text-align: center;
  padding: 30px 0;
  font-size: 14px;

  &__version {
    position: absolute;
    right: 0;
    color: $gray;
  }
}

.form {
  &__input {
    margin-top: 20px;
    padding: 13px;
    border: 1px solid $gray;
    border-radius: 5px;
    margin-bottom: 12px;
    width: 200px;
    transition: all 0.3s;
    @include mq('phone') {
      margin-top: 25px;
      margin-bottom: 13px;
      padding: 10px 0 11px 14px;
    }

    &::placeholder {
      font-size: 14px;
      color: $gray;
      transition: all 0.3s;
    }

    &:focus {
      background-color: $white;
      color: $gray;
      box-shadow: 0 0 0 2px $orange-900;
      border-color: transparent;
    }

    &:hover::placeholder {
      color: $darkBlue-900;
      opacity: 0.9;
    }
  }

  &__button {
    width: 200px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    @include mq('phone') {
      padding-top: 12px !important;
      padding-bottom: 12px !important;
    }

    &:focus &-img,
    &:hover &-img {
      fill: $orange-900;
    }

    &-img {
      width: 17px;
      height: 16px;
      fill: $white;
    }
  }
}