@import "src/app/scss/vars";
@import "src/app/scss/mixins";
@import "src/app/scss/global";

.popular-categories {
  text-align: center;
  @include mq('phone') {
    margin-bottom: 50px;
  }

  &__buttons {
    display: flex;
    margin-bottom: 40px;
    overflow-x: auto;
    padding: 2px 0 2px 2px;
    margin-top: -5px;
    gap: 20px;
    @include mq('phone') {
      gap: 15px;
    }
  }

  &__content {
    display: grid;
    grid-gap: 30px;
    margin-bottom: 60px;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 210px);
    grid-auto-rows: minmax(299px, auto);
    @include mq('desktop') {
      grid-row-gap: 25px;
      margin-bottom: 53px;
    }
    @include mq('tablet-2') {
      justify-content: space-around;
      grid-row-gap: 20px;
      margin-bottom: 45px;
    }
    @include mq('tablet') {
      grid-row-gap: 15px;
      margin-bottom: 38px;
    }
    @include mq('phone') {
      grid-template-columns: repeat(2, minmax(170px, 210px));
      grid-column-gap: 5px;
      grid-row-gap: 10px;
      margin-bottom: 17px;
    }
  }
}

.product-card {
  @extend .df-sb-aic;
  flex-direction: column;
  background-color: $white;
  padding: 20px 15px;
  border-radius: 5px;
  height: 100%;
  transition: box-shadow 0.3s;
  @include mq('phone') {
    padding-bottom: 34px;
  }

  &:hover {
    box-shadow: 0 0 0 1px $orange-900;
  }

  &__name, &__price {
    font-size: 15px;
  }

  &__name {
    @include line-clamp(2);
    margin-bottom: 15px;
    @include mq('phone') {
      margin-bottom: 0;
      margin-top: -10px;
    }
  }

  &__price {
    font-weight: 500;
    line-height: 1.4;
    @include mq('phone') {
      margin-bottom: 0;
      margin-top: 20px;
    }
  }

  &__button.button {
    font-size: 14px;
    padding: 7px 16px;
    @include mq('phone') {
      padding: 6px 15px;
    }
  }
}